fastapi==0.127.0
uvicorn==0.40.0

SQLAlchemy==2.0.45
aiosqlite==0.22.1
greenlet==3.3.0

pydantic[email]==2.12.5
python-jose[cryptography]
passlib[bcrypt]
python-multipart

anyio==4.12.0
starlette==0.50.0
typing_extensions==4.15.0

